/* PERFIL E MENU */

.profile {
  display: flex;
  align-items: center;
}

.profile_user {
  background-color: #ff6a6a;
  margin: 0 10px;
  display: flex;
  display: inline-flex;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile_text {
  margin: 0 15px 0 0;
  & p {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
}

.profile_text:hover p {
  color: #ff5858;
  transition: 0.3s;
}

& .profile_user:hover {
  background-color: #ff5858;
  transform: scale(1.03);
}

.icon_user {
  font-size: 3.5rem;
  width: 3.5rem;
  height: 3.3rem;
}

.profile_box {
  background-color: #ff6a6a;
  border-radius: 20px;
  padding: 2px;
  & .profile_item {
    margin: 0 10px;
    display: flex;
    display: inline-flex;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  & .profile_item:hover {
    background-color: #ff5858;
    transform: scale(1.03);
  }
  & .icon {
    font-size: 3.5rem;
    width: 3.5rem;
    height: 3.3rem;
  }
}
