/* PERFIL E MENU */

header .profile {
  & .profile_item {
    display: flex;
    display: inline-flex;
    background-color: #3b1a1a;
    padding: 0;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  & .profile_item:hover {
    background-color: #d79494;
    transform: scale(1.03);
  }
  & .icon {
    font-size: 3.5rem;
  }
}
