@import url("../../css/AllProducts.module.css");

.product {
  margin: 0 30px 0 0;
}

.products {
  .products_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #ffe8e8;
    margin-top: 80px;
    padding: 15px 0;
  }

  .products_title {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0 30px 0;

    h2 {
      color: #000;
      padding: 0 20px;
      margin-top: 0;
    }

    span {
      width: 100%;
      height: 1px;
      background: #000;
    }

    button {
      width: 30%;
      z-index: 100;
      font-size: 1.6rem;
      font-weight: bold;
      background-color: transparent;
      border: 1px solid black;
      color: #000;
      transition: 0.4s;
    }

    button:hover {
      background-color: #ffcfdf;
      transform: scale(1.01);
    }
  }

  .products_wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .list {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0 0 0 20px;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  .btn svg {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #fe9fbf;
    padding: 7px;
    color: white;
    transition: 0.3s;
    transform: scale(1.5);
    border: 1px solid #fff;
  }

  .btn svg:hover {
    background-color: #ff79a6;
    transform: scale(1.6);
  }

  .left {
    left: -5px;
  }

  .btn.right {
    right: -5px;
  }
}
