.sobreini {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffe8e8, #fe9fbf);
  padding: 0 45px;
  margin-top: 80px;

  img {
    width: 48%;
    border-radius: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
    padding: 0 0 0 35px;
    gap: 30px;

    button {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background-color: #ff6a6a;
      color: #fff;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f84c4c;
      }
    }
  }
}
