.product {
  flex: 0 0 calc(100% / 6);
  opacity: 0.6;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #eca0a0;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 0 0 10px 0;
  z-index: 55;
}

.product:hover .item p {
  color: rgb(255, 56, 89);
}

.product.active {
  opacity: 1;
  transform: scale(1);
}

.item {
  color: #000;
  cursor: pointer;
  position: relative;

  & img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .img_1 {
    position: absolute;
    left: 0;
    z-index: 0;
  }

  .img_1:hover {
    opacity: 0;
  }

  .des_box {
    overflow: hidden;
    padding: 0 5px;
    margin: 10px 0 0 0;

    p {
      word-spacing: -0.2rem;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.6rem;
      height: 3.2rem;
      word-break: break-word;
      white-space: normal;
      color: black;
    }
  }
}

.products_prices {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #000;

  .original_prices {
    margin: 30px 0 0 0;
    text-align: left;
    font-size: 2.1rem;
    padding: 4px 8px;
  }

  .old_price {
    text-decoration: line-through;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    color: #555;
    margin-top: 10px;
  }

  .offer_price {
    background-color: rgb(17, 154, 17);
    font-size: 2rem !important;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    display: inline-block;
    margin-top: 5px;
    text-align: center;
  }

  .compra {
    margin: 15px 0 0 0;
    width: 100%;
    color: #000;
    background-color: #fe9fbf;
    transition: 0.4s;
  }

  .compra:hover {
    transform: scale(1.02);
    background-color: #ff79a6;
  }
}

.cart_button {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 60px;
  right: 0;
  position: absolute;
  cursor: pointer;
  z-index: 99;
  background-color: #fe9fbf;
  border: none;
  padding: 8px;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out, background-color 0.2s;

  .icon_cart {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }
}

.cart_button:hover {
  background: #ff79a6;
  transform: scale(1.05);
}

button {
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
