*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  color-scheme: light dark;
  scroll-behavior: auto;
}

body {
  font-size: 1.6rem;
  font-optical-sizing: auto;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  max-height: 100vh;
  text-rendering: optimizeLegibility;
  background: var(--background);
  background-attachment: fixed;
}

:root {
  --background: #ffe8e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(30, 30, 30, 1);
    --background-color2: rgba(1, 24, 61, 1);
  }
}
